body{
 background-image: url("https://wallpapercave.com/wp/wp3791029.jpg");
 background-position: center;
background-size: cover;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color:whitesmoke;
}
p{
    color: whitesmoke;
}
label{
    color:whitesmoke;
}